body {
  font-family: sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

a {
  text-decoration: inherit;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
}

button {
  cursor: pointer;
}
button .size_btn {
  padding: 1rem;
  background: transparent;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  transition: 0.5s all;
}
button .size_btn:hover {
  border-color: orange;
}
button .size_btn:focus {
  border-color: orange;
}
button .size_btn .orange {
  color: orange;
  margin-right: 2rem;
}
button .size_btn span {
  color: grey;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}
header .logo {
  color: rgb(255, 174, 0);
}
header .til {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}
header .til .hr2 {
  height: 20px;
  width: 2px;
  background-color: rgb(171, 171, 171);
}
header .search__input {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .search__input .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .search__input .input input {
  padding: 10px;
  border: 2px solid rgb(218, 224, 229);
  font-size: 1rem;
  width: 600px;
  outline: none;
}
header .search__input .input button {
  background-color: rgb(218, 224, 229);
  color: black;
  padding: 10px;
  border: 2px solid rgb(218, 224, 229);
  font-size: 1rem;
}
header .search__input .input button:hover {
  background: rgb(255, 199, 77);
}
header .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header .buttons .box {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .buttons .box p {
  color: rgb(255, 174, 0);
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.btn {
  display: none;
  margin-top: 10px;
  width: 702px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px 0px rgba(23, 31, 38, 0.3);
  position: absolute;
  margin-top: 60px;
}
.btn .box {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
  border-bottom: 2px solid #dcdcdc;
}
.btn .box:hover {
  background: rgba(0, 102, 255, 0.1);
  cursor: pointer;
}
.btn li {
  padding: 10px 5px;
  font-weight: 700;
  border-bottom: 2px solid #dcdcdc;
}
.btn li:hover {
  background: rgba(0, 102, 255, 0.1);
  cursor: pointer;
}

aside {
  background: rgb(255, 244, 95);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
aside button {
  background: #fff;
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
aside button:hover {
  background-color: #ededed;
  color: #000;
}

.category_filter .filter_container .filter {
  position: absolute;
  width: 500px;
  height: auto;
  padding: 20px;
  left: 0;
}
.category_filter .filter_container .filter .filter_links {
  margin-bottom: 1.5rem;
}
.category_filter .filter_container .filter .filter_links a {
  font-family: sans-serif;
  font-size: 16px;
  transition: 0.5s;
  color: orange;
}
.category_filter .filter_container .filter .filter_links a:hover {
  text-decoration: 2px underline dotted;
}
.category_filter .filter_container .filter .filter_title {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: sans-serif;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_title p {
  color: grey;
}
.category_filter .filter_container .filter .filter_category {
  font-family: sans-serif;
  line-height: 35px;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_category h4 {
  font-size: 18px;
  margin-bottom: 1rem;
}
.category_filter .filter_container .filter .filter_category h5 {
  font-size: 15px;
}
.category_filter .filter_container .filter .filter_odeji {
  font-family: sans-serif;
  line-height: 35px;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_odeji h5 {
  font-size: 16px;
}
.category_filter .filter_container .filter .filter_odeji li {
  color: rgb(184, 184, 184);
}
.category_filter .filter_container .filter .filter_brand {
  font-family: sans-serif;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_brand .title {
  display: flex;
  gap: 30px;
  margin-bottom: 1rem;
}
.category_filter .filter_container .filter .filter_brand .orange {
  color: orange;
}
.category_filter .filter_container .filter .filter_brand .list {
  line-height: 35px;
}
.category_filter .filter_container .filter .filter_brand .list li input[type=checkbox] {
  filter: sepia(100%) brightness(100%) hue-rotate(0deg) saturate(70%) contrast(300%);
}
.category_filter .filter_container .filter .filter_size {
  width: auto;
  height: 250px;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_size h4 {
  font-family: sans-serif;
  padding-bottom: 1rem;
}
.category_filter .filter_container .filter .filter_size .btns {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.category_filter .filter_container .filter .filter_price {
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_price h3 {
  padding-bottom: 1rem;
  font-family: sans-serif;
}
.category_filter .filter_container .filter .filter_price .btns {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.category_filter .show_more p {
  font-family: sans-serif;
  margin-top: 1rem;
  color: orange;
  cursor: pointer;
}
.category_filter .show_more p:hover {
  color: rgb(211, 137, 0);
}

.mini-nav {
  display: flex;
  gap: 20px;
}
.mini-nav h3 {
  color: #FFAE00;
}
.mini-nav h3 span {
  color: #DAE0E5;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */