body {
  font-family: sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  background: rgb(248, 246, 237);
  border-radius: 20px;
  width: 8px;
}

::-webkit-scrollbar-button {
  background: rgb(252, 197, 47);
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 20px;
}

img {
  object-fit: cover;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.container {
  max-width: 1360px;
  margin: 0px auto;
  padding: 10px 30px;
}

button {
  cursor: pointer;
}

.size_btn {
  padding: 1rem;
  background: transparent;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  transition: 0.5s all;
}
.size_btn:hover {
  border-color: orange;
}
.size_btn:focus {
  border-color: orange;
}
.size_btn .orange {
  color: orange;
  margin-right: 2rem;
}
.size_btn span {
  color: grey;
}

header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  background: white;
  position: sticky;
  top: 0;
  background: #fff;
}
header .logo {
  color: rgb(255, 174, 0);
}
header .til {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  padding: 10px;
}
header .til .hr2 {
  height: 20px;
  width: 2px;
  background-color: rgb(171, 171, 171);
}
header .search__input {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .search__input .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .search__input .input input {
  padding: 10px;
  border: 2px solid rgb(218, 224, 229);
  font-size: 1rem;
  width: 600px;
  outline: none;
}
header .search__input .input button {
  background-color: rgb(218, 224, 229);
  color: black;
  padding: 10px;
  border: 2px solid rgb(218, 224, 229);
  font-size: 1rem;
}
header .search__input .input button:hover {
  background: rgb(255, 199, 77);
  color: white;
}
header .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header .buttons .box {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .buttons .box p {
  color: rgb(255, 174, 0);
  font-size: 12px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-size: large;
}

.btn {
  margin-top: 10px;
  width: 670px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px 0px rgba(23, 31, 38, 0.3);
  display: none;
  background-color: white;
}
.btn .box {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
  border-bottom: 2px solid #dcdcdc;
}
.btn .box:hover {
  background: rgba(0, 102, 255, 0.1);
  cursor: pointer;
}
.btn li {
  list-style: none;
  padding: 10px 5px;
  font-weight: 700;
  border-bottom: 2px solid #dcdcdc;
}
.btn li:hover {
  background: rgba(0, 102, 255, 0.1);
  cursor: pointer;
}

.header__active {
  background-color: rgb(255, 199, 77) !important;
  color: white !important;
}

aside {
  background: rgb(255, 244, 95);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
aside button {
  background: #fff;
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
aside button:hover {
  background-color: #ededed;
  color: #000;
}

.category_filter .filter_container .filter {
  position: absolute;
  width: 500px;
  height: auto;
  padding: 20px;
  left: 0;
}
.category_filter .filter_container .filter .filter_links {
  margin-bottom: 1.5rem;
}
.category_filter .filter_container .filter .filter_links a {
  font-family: sans-serif;
  font-size: 16px;
  transition: 0.5s;
  color: orange;
}
.category_filter .filter_container .filter .filter_links a:hover {
  text-decoration: 2px underline dotted;
}
.category_filter .filter_container .filter .filter_title {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: sans-serif;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_title p {
  color: grey;
}
.category_filter .filter_container .filter .filter_category {
  font-family: sans-serif;
  line-height: 35px;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_category h4 {
  font-size: 18px;
  margin-bottom: 1rem;
}
.category_filter .filter_container .filter .filter_category h5 {
  font-size: 15px;
}
.category_filter .filter_container .filter .filter_odeji {
  font-family: sans-serif;
  line-height: 35px;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_odeji h5 {
  font-size: 16px;
}
.category_filter .filter_container .filter .filter_odeji li {
  color: rgb(184, 184, 184);
}
.category_filter .filter_container .filter .filter_brand {
  font-family: sans-serif;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_brand .title {
  display: flex;
  gap: 30px;
  margin-bottom: 1rem;
}
.category_filter .filter_container .filter .filter_brand .orange {
  color: orange;
}
.category_filter .filter_container .filter .filter_brand .list {
  line-height: 35px;
}
.category_filter .filter_container .filter .filter_brand .list li input[type=checkbox] {
  filter: sepia(100%) brightness(100%) hue-rotate(0deg) saturate(70%) contrast(300%);
}
.category_filter .filter_container .filter .filter_size {
  width: auto;
  height: 250px;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_size h4 {
  font-family: sans-serif;
  padding-bottom: 1rem;
}
.category_filter .filter_container .filter .filter_size .btns {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.category_filter .filter_container .filter .filter_price {
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_price h3 {
  padding-bottom: 1rem;
  font-family: sans-serif;
}
.category_filter .filter_container .filter .filter_price .btns {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.category_filter .show_more p {
  font-family: sans-serif;
  margin-top: 1rem;
  color: orange;
  cursor: pointer;
}
.category_filter .show_more p:hover {
  color: rgb(211, 137, 0);
}

.adpng {
  transform: translateX(1080px) translateY(-680px);
  position: relative;
}

.product-center,
.product-center2 {
  padding-top: 30px;
}
.product-center .product-cardtime section .text__area .product__mini__card,
.product-center2 .product-cardtime section .text__area .product__mini__card {
  display: flex;
  gap: 80px;
  padding-left: 120px;
  padding-top: 50px;
}

.thebanner {
  position: absolute;
  top: 1700px;
  left: 120px;
  width: 940px;
}

.product-center2 {
  margin-top: -200px;
}

.center-info {
  padding-left: 118px;
  padding-top: 50px;
}
.center-info h2 {
  font-weight: 500;
}
.center-info p {
  font-weight: 400;
  line-height: 1.4;
}

.product {
  margin-left: 120px;
  margin-right: 120px;
}
.product .product__nav {
  display: flex;
}
.product .product__nav .product__nav__a {
  display: flex;
}
.product .product__nav .product__nav__a img {
  padding-left: 3px;
}
.product .product__nav .product__nav__a a {
  font-family: Graphik LCG, sans-serif;
  font-size: 12px;
  color: #FFAE00;
  text-decoration: none;
  gap: 10px;
  padding-left: 3px;
}
.product .product__samsung {
  display: flex;
  font-family: Arial;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
}
.product .otzitivs {
  display: flex;
  justify-content: space-between;
}
.product .otzitivs .otzitiv {
  display: flex;
  gap: 20px;
}
.product .otzitivs .otzitiv .otzitiv__24 {
  font-size: 18px;
  color: #8E969E;
}
.product .otzitivs .izbrine {
  display: flex;
  gap: 20px;
  color: #FFAE00;
  font-size: 12px;
  align-items: center;
}
.product .otzitivs .izbrine div {
  display: flex;
  gap: 5px;
}
.product .otzitiv__hr {
  border: 1px solid #DAE0E5;
  margin-top: 20px;
  margin-bottom: 2rem;
}
.product .product__info {
  display: flex;
}
.product .product__info .product__info__grid {
  display: grid;
}
.product .product__info .product__info__pam p {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Graphik LCG, sans-serif;
}
.product .product__info .product__info__pam .product__info__cd {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 5px;
}
.product .product__info .product__info__cds {
  background-color: #FFF45F;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
}
.product .product__info .product__info__cdc {
  background-color: #F2F5F7;
  padding: 10px;
  border-radius: 5px;
  color: #8E969E;
}
.product .product__info .product__info__flex {
  display: flex;
  gap: 80px;
}
.product .product__info .product__info__flex .product__info__plat p {
  font-size: 14px;
  color: #8E969E;
  padding-top: 2px;
  padding-bottom: 2px;
}
.product .product__info .product__info__flex .product__info__platt {
  margin-top: 35px;
}
.product .product__info .product__info__flex .product__info__platt p {
  font-size: 14px;
}
.product .product__info .product__info__chvet {
  padding-top: 10px;
  padding-bottom: 10px;
}
.product .product__info .product__info__chvet .product__info__chvet__img {
  margin-top: 10px;
  display: flex;
  gap: 18px;
}
.product .product__info .product__skidka {
  border: 1px solid #DAE0E5;
  border-radius: 5px;
  width: 330px;
  height: 236px;
  padding: 30px;
  color: #8E969E;
}
.product .product__info .product__skidka .product__skidka__flex {
  display: flex;
}
.product .product__info .product__skidka .product__skidka__flex .product__skidka__foiz {
  background-color: #F23D5B;
  color: #F2F5F7;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
}
.product .product__info .product__skidka .product__skidka__flex .product__skidka__c {
  color: #8E969E;
  padding: 10px;
}
.product .product__info .product__sum {
  font-size: 24px;
  margin-top: 15px;
  color: #000000;
}
.product .product__info .sum {
  font-size: 14px;
  color: #8E969E;
}
.product .product__info .product__korzinka {
  margin-top: 30px;
  background-color: #FFAE00;
  color: #FFFFFF;
  width: 270px;
  height: 54px;
  border: none;
  border-radius: 9px;
}
.product .product__info .product__dastabki {
  width: 100%;
  margin-top: 30px;
}
.product .product__info .product__dastabki .product__dastabki__p {
  font-family: Arial sans-serif;
  font-size: 20px;
  color: #000000;
}
.product .product__info .product__dastabki .product__dastabki__card {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 9px;
}
.product .product__info .product__dastabki .product__dastabki__card .product__dastabki__bold {
  font-size: 15px;
  color: #000000;
}
.product .product__info .product__dastabki .product__dastabki__card .product__dastabki__span {
  color: #FFAE00;
}
.product .product__info .product__samsung__brend {
  display: flex;
  border: 1px solid #DAE0E5;
  border-radius: 5px;
  width: 300px;
}
.product .product__info .product__samsung__brend .product__samsung__brend__p {
  text-align: center;
}
.product .product__info .product__samsung__brend .product__samsung__brend__p .brendu {
  color: #FFAE00;
}
.product .product__info .product__samsung__brend .product__samsung__brend__p p {
  font-family: Graphik LCG, sans-serif;
  padding: 10px;
}
.product .text__area {
  margin-top: 30px;
  width: 940px;
  height: 372px;
  display: flex;
  border: 1px solid #E8E9EA;
  border-radius: 5px;
  padding: 10px;
}
.product .text__area .text__area__title {
  padding-bottom: 20px;
}
.product .text__area .text__area__title .text__area__title__obshe {
  margin-top: 6rem;
}
.product .text__area .text__area__title .title__more {
  display: flex;
}
.product .text__area .text__area__title .text__area__title__h1 {
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  gap: 5px;
}
.product .text__area .text__area__title .text__area__title__h1 .text__area__title__more {
  font-size: 14px;
  display: flex;
  align-items: end;
}
.product .text__area .text__area__title button {
  margin-top: 30px;
  background-color: #FFAE00;
  color: #FFFFFF;
  width: 200px;
  height: 54px;
  border: none;
  border-radius: 9px;
}
.product .text__area .product__mini__card {
  display: flex;
  padding: 20px;
  gap: 10px;
  font-size: 14px;
}
.product .text__area .product__mini__card .product__mini .product__mini__like {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.product .text__area .product__mini__card .product__mini p {
  padding-top: 3px;
  padding-bottom: 3px;
}
.product .text__area .product__mini__card .product__mini button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 165px;
  height: 40px;
  background-color: #FFF7E6;
  color: #FFAE00;
  border: none;
  border-radius: 5px;
}
.product .text__area .product__mini__card .product__mini .product__mini__more {
  display: flex;
  gap: 5px;
  font-family: Graphik LCG, Arial, sans-serif;
}
.product .text__area .product__mini__card .product__mini .product__mini__more p {
  font-size: 14px;
}
.product .text__area .product__mini__card .product__mini .product__mini__more span {
  font-size: 14px;
  color: #8E969E;
}

.section-first {
  color: #171F26;
}
.section-first .section-first__p {
  font-size: 24px;
  margin: 30px 0;
}
.section-first .section-first__flex {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.section-first .section-first__flex .section-first__flex-items {
  display: flex;
  gap: 50px;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__imgs {
  display: flex;
  align-items: start;
  gap: 10px;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__imgs .img {
  margin-top: 25px;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__element {
  display: grid;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__element b {
  display: block;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__element .element-p {
  display: flex;
  gap: 10px;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__element .element-p .paragraf-1 {
  color: #8E969E;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__element .element-p .element-p__clr {
  color: #FFAE00;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__element .element-item {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  align-items: center;
}
.section-first .section-first__flex .section-first__flex-items .content .content__del {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #8E969E;
  margin-bottom: 12px;
}
.section-first .section-first__flex .section-first__flex-items .content .content__sum {
  font-size: 24px;
}
.section-first .section-first__flex .section-first__flex-items .content .content__sum span {
  color: #8E969E;
  font-size: 14px;
}
.section-first .section-first__flex .section-first__flex-items .content .content__skidka {
  font-size: 14px;
  color: #8E969E;
}
.section-first .section-first__flex .section-first__flex-items .content .content__img {
  cursor: pointer;
  margin: 25px 0;
}
.section-first .section-first__flex .section-first__flex-items .content .content__btn {
  padding: 15px;
  width: 200px;
  display: flex;
  justify-content: center;
  color: white;
  background: #FFAE00;
  border-radius: 8px;
  margin-top: 110px;
  border-color: #FFAE00;
}

.section-second {
  margin-top: 50px;
  margin-bottom: 15px;
}
.section-second .section-second__flex {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.section-second .section-second__flex .p {
  font-size: 24px;
  margin-bottom: 10px;
}
.section-second .section-second__flex span {
  color: #FFAE00;
}
.section-second .section-second__flex .section-second__flex__p {
  color: #FFAE00;
}
.section-second div.section-second__flex-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  gap: 10px;
}
.section-second div.section-second__flex-1 .section-second__cards {
  display: grid;
  row-gap: 7px;
  width: 190px;
}
.section-second div.section-second__flex-1 .section-second__cards .cards__icon {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.section-second div.section-second__flex-1 .section-second__cards .cards__img {
  margin-bottom: 15px;
  cursor: pointer;
}
.section-second div.section-second__flex-1 .section-second__cards .cards__p {
  font-size: 20px;
}
.section-second div.section-second__flex-1 .section-second__cards .cards__p span {
  color: #8E969E;
  font-size: 14px;
}

.section-three {
  margin: 20px 0;
}

.address-filter {
  position: absolute;
  left: 0;
}
.address-filter .filter-container .filter-title {
  padding-bottom: 2rem;
}
.address-filter .filter-container .filter-title p {
  color: grey;
}
.address-filter .filter-container .filter-list .list {
  line-height: 45px;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(212, 212, 212);
  max-width: 330px;
  margin-bottom: 1rem;
}
.address-filter .filter-container .filter-list .notification-btn {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(212, 212, 212);
  max-width: 330px;
  margin-bottom: 1rem;
}
.address-filter .filter-container .filter-list .notification-btn button {
  width: 330px;
  padding: 0.5rem;
  justify-content: space-between;
  display: flex;
  border: none;
  align-items: center;
  background: transparent;
}
.address-filter .filter-container .filter-list .notification-btn button .btn_ico-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.address-filter .filter-container .filter-list_2 .list a {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 1rem;
  padding: 0.1rem;
  gap: 20px;
}
.address-filter .filter-container .filter-list_2 .list a:hover {
  color: orange;
  background: rgb(240, 240, 240);
}
.address-filter .filter-container .filter-list_2 .list a .img img {
  display: flex;
  align-items: center;
}
.address-filter .filter-container .filter-list_2 .list a span {
  font-size: 14px;
}
.address-filter .filter-container .filter-list_2 .list .active {
  color: orange;
  background: rgb(240, 240, 240);
}
.address-filter .filter-container .filter-end .list a {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 1rem;
  padding: 0.1rem;
  gap: 20px;
}
.address-filter .filter-container .filter-end .list a:hover {
  color: orange;
  background: rgb(240, 240, 240);
}
.address-filter .filter-container .filter-end .list a .img img {
  display: flex;
  align-items: center;
}
.address-filter .filter-container .filter-end .list a span {
  font-size: 14px;
}

.address_right {
  position: absolute;
  left: 30%;
}
.address_right .address-title h2 {
  font-weight: 500;
}
.address_right .address_img {
  position: absolute;
  left: 250%;
  top: 200px;
}
.address_right .address_img .text_center {
  text-align: center;
}
.address_right .address_img .text_center h3,
.address_right .address_img .text_center p,
.address_right .address_img .text_center button {
  margin-left: -3rem;
  width: 200%;
}
.address_right .address_img .text_center h3 {
  padding-bottom: 1rem;
}
.address_right .address_img .text_center button {
  margin-top: 1rem;
  background: orange;
  border: none;
  color: white;
  padding: 1rem;
  transition: 0.5s;
}
.address_right .address_img .text_center button:hover {
  background: none;
  animation: animate-border 3s infinite linear;
  color: ORANGE;
  box-shadow: 0px 0px 5px rgb(191, 237, 255);
}

@keyframes animate-border {
  0% {
    border-top: 1px solid rgb(206, 206, 206);
    border-right: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid orange;
    border-left: 1px solid orange;
  }
  50% {
    border-top: 1px solid orange;
    border-right: 1px solid rgb(206, 206, 206);
    border-bottom: 1px solid rgb(240, 240, 240);
    border-left: 1px solid orange;
  }
  75% {
    border-top: 1px solid rgb(245, 245, 245);
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    border-left: 1px solid rgb(206, 206, 206);
  }
  100% {
    border-top: 1px solid rgb(206, 206, 206);
    border-right: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid orange;
    border-left: 1px solid orange;
  }
}
.adres {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.adres .adres__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.adres .adres__item .adres__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: max-content;
  background: #fff;
  padding: 25px 35px;
  border-radius: 20px;
  display: grid;
  row-gap: 20px;
}
.adres .adres__item .adres__content input {
  height: 45px;
  padding: 10px 15px;
  border-radius: 7px;
  outline-color: #FFAE00;
}
.adres .adres__item .adres__content button {
  height: 45px;
  padding: 10px 15px;
  background-color: #FFAE00;
  border: none;
  border-radius: 7px;
  color: #fff;
}
.adres .adres__item .adres__content .adres__content__p {
  display: flex;
  justify-content: end;
  gap: 45px;
}
.adres .adres__item .adres__content .adres__content__p p {
  font-size: 24px;
  font-family: Arial;
}
.adres .adres__item .adres__content .adres__content__p span {
  font-size: 25px;
  color: #8E969E;
  cursor: pointer;
}

.adpng {
  transform: translateX(1080px) translateY(-680px);
  position: relative;
}

.product-center,
.product-center2 {
  padding-top: 30px;
}
.product-center .product-cardtime section .text__area .product__mini__card,
.product-center2 .product-cardtime section .text__area .product__mini__card {
  display: flex;
  gap: 80px;
  padding-left: 120px;
  padding-top: 50px;
}

.thebanner {
  position: absolute;
  top: 1700px;
  left: 120px;
  width: 940px;
}

.product-center2 {
  margin-top: -200px;
}

.center-info {
  padding-left: 118px;
  padding-top: 50px;
}
.center-info h2 {
  font-weight: 500;
}
.center-info p {
  font-weight: 400;
  line-height: 1.4;
}

.sevimlilarx {
  margin-top: 5%;
}

.minContainer {
  max-width: 700px;
  margin: 10% auto;
  margin-bottom: 0px;
  padding: 20px;
  text-align: center;
}
.minContainer p {
  margin: 10px 0px;
}
.minContainer button {
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  color: white;
  box-shadow: 0px 10px 30px 0px rgba(23, 31, 38, 0.3);
  background-color: rgb(255, 174, 0);
}

.homecontent {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.homecontent .saidbar {
  width: 20%;
}
.homecontent .saidbar li {
  padding: 6px 9px;
}
.homecontent .saidbar .saidbarbox {
  margin-top: 10%;
}
.homecontent .menu {
  width: 75%;
  margin-right: auto;
}
.homecontent .mt {
  margin-top: 10px;
}

.txleft {
  text-align: left !important;
}
.txleft .list li {
  list-style: disc !important;
  padding: 10px;
  width: 870px;
}

.bold {
  font-weight: 700;
}

.posershka__title {
  width: 800px;
}

.box {
  margin-top: 3%;
}
.box p {
  margin-top: 5%;
  line-height: 28px;
}

.linehigh {
  line-height: 28px;
}

.call_box {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
}
.call_box .call__item {
  background: rgb(242, 245, 247);
  padding: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  height: 294px;
}
.modal-content h3 {
  margin-bottom: 20px;
}
.modal-content p {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}
.modal-content div {
  background: rgb(242, 245, 247);
}
.modal-content div p {
  color: rgb(255, 174, 0);
  padding: 7px 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.zakas_grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
}
.zakas_grid button {
  background: rgb(39, 174, 96);
  padding: 7px 10px;
  border: none;
  border-radius: 7px;
  color: white;
}
.zakas_grid p,
.zakas_grid h3 {
  margin-top: 15px;
}
.zakas_grid .grid__item {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  padding: 20px;
}
.zakas_grid .grid__item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reklama {
  margin-top: 5%;
}
.reklama .rak__box {
  border: 1px solid rgb(219, 219, 219);
  display: flex;
  text-align: left;
  align-items: center;
  gap: 10px;
  padding: 20px;
  gap: 10px;
  margin-top: 20px;
}
.reklama .sariq {
  color: rgb(242, 61, 91);
}

.reviews__empty .reviews__empty__moy {
  justify-content: center;
  align-items: center;
}

.product__otzitv {
  margin-left: 120px;
  margin-right: 120px;
}
.product__otzitv .product__otzitv__m {
  background-color: #27AE60;
  width: 60px;
  height: 60px;
  color: rgb(255, 249, 249);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.product__otzitv .product__otzitv__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__otzitv .product__otzitv__p {
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding-top: 10px;
}
.product__otzitv .product__otzitv__img {
  display: flex;
  gap: 10px;
}
.product__otzitv .product__start {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=main.css.map */
