body {
  font-family: sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: inherit;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
}

button {
  cursor: pointer;
}
button .size_btn {
  padding: 1rem;
  background: transparent;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  transition: 0.5s all;
}
button .size_btn:hover {
  border-color: orange;
}
button .size_btn:focus {
  border-color: orange;
}
button .size_btn .orange {
  color: orange;
  margin-right: 2rem;
}
button .size_btn span {
  color: grey;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}
header .logo {
  color: rgb(255, 174, 0);
}
header .til {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}
header .til .hr2 {
  height: 20px;
  width: 2px;
  background-color: rgb(171, 171, 171);
}
header .search__input {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .search__input .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .search__input .input input {
  padding: 10px;
  border: 2px solid rgb(218, 224, 229);
  font-size: 1rem;
  width: 600px;
  outline: none;
}
header .search__input .input button {
  background-color: rgb(218, 224, 229);
  color: black;
  padding: 10px;
  border: 2px solid rgb(218, 224, 229);
  font-size: 1rem;
}
header .search__input .input button:hover {
  background: rgb(255, 199, 77);
}
header .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header .buttons .box {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .buttons .box p {
  color: rgb(255, 174, 0);
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.btn {
  display: none;
  margin-top: 10px;
  width: 702px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px 0px rgba(23, 31, 38, 0.3);
  position: absolute;
  margin-top: 60px;
}
.btn .box {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
  border-bottom: 2px solid #dcdcdc;
}
.btn .box:hover {
  background: rgba(0, 102, 255, 0.1);
  cursor: pointer;
}
.btn li {
  padding: 10px 5px;
  font-weight: 700;
  border-bottom: 2px solid #dcdcdc;
}
.btn li:hover {
  background: rgba(0, 102, 255, 0.1);
  cursor: pointer;
}

aside {
  background: rgb(255, 244, 95);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
aside button {
  background: #fff;
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
aside button:hover {
  background-color: #ededed;
  color: #000;
}

.category_filter .filter_container .filter {
  position: absolute;
  width: 500px;
  height: auto;
  padding: 20px;
  left: 0;
}
.category_filter .filter_container .filter .filter_links {
  margin-bottom: 1.5rem;
}
.category_filter .filter_container .filter .filter_links a {
  font-family: sans-serif;
  font-size: 16px;
  transition: 0.5s;
  color: orange;
}
.category_filter .filter_container .filter .filter_links a:hover {
  -webkit-text-decoration: 2px underline dotted;
          text-decoration: 2px underline dotted;
}
.category_filter .filter_container .filter .filter_title {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: sans-serif;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_title p {
  color: grey;
}
.category_filter .filter_container .filter .filter_category {
  font-family: sans-serif;
  line-height: 35px;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_category h4 {
  font-size: 18px;
  margin-bottom: 1rem;
}
.category_filter .filter_container .filter .filter_category h5 {
  font-size: 15px;
}
.category_filter .filter_container .filter .filter_odeji {
  font-family: sans-serif;
  line-height: 35px;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_odeji h5 {
  font-size: 16px;
}
.category_filter .filter_container .filter .filter_odeji li {
  color: rgb(184, 184, 184);
}
.category_filter .filter_container .filter .filter_brand {
  font-family: sans-serif;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_brand .title {
  display: flex;
  gap: 30px;
  margin-bottom: 1rem;
}
.category_filter .filter_container .filter .filter_brand .orange {
  color: orange;
}
.category_filter .filter_container .filter .filter_brand .list {
  line-height: 35px;
}
.category_filter .filter_container .filter .filter_brand .list li input[type=checkbox] {
  filter: sepia(100%) brightness(100%) hue-rotate(0deg) saturate(70%) contrast(300%);
}
.category_filter .filter_container .filter .filter_size {
  width: auto;
  height: 250px;
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_size h4 {
  font-family: sans-serif;
  padding-bottom: 1rem;
}
.category_filter .filter_container .filter .filter_size .btns {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.category_filter .filter_container .filter .filter_price {
  margin-bottom: 2rem;
}
.category_filter .filter_container .filter .filter_price h3 {
  padding-bottom: 1rem;
  font-family: sans-serif;
}
.category_filter .filter_container .filter .filter_price .btns {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.category_filter .show_more p {
  font-family: sans-serif;
  margin-top: 1rem;
  color: orange;
  cursor: pointer;
}
.category_filter .show_more p:hover {
  color: rgb(211, 137, 0);
}

.mini-nav {
  display: flex;
  gap: 20px;
}
.mini-nav h3 {
  color: #FFAE00;
}
.mini-nav h3 span {
  color: #DAE0E5;
  margin-left: 10px;
}

.product {
  margin-left: 120px;
  margin-right: 120px;
}
.product .product__nav {
  display: flex;
}
.product .product__nav .product__nav__a {
  display: flex;
}
.product .product__nav .product__nav__a img {
  padding-left: 3px;
}
.product .product__nav .product__nav__a a {
  font-family: Graphik LCG, sans-serif;
  font-size: 12px;
  color: #FFAE00;
  text-decoration: none;
  gap: 10px;
  padding-left: 3px;
}
.product .product__samsung {
  display: flex;
  font-family: Arial;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
}
.product .otzitiv {
  display: flex;
  gap: 20px;
}
.product .otzitiv .otzitiv__24 {
  font-size: 18px;
  color: #8E969E;
}
.product .product__info {
  display: flex;
  flex-wrap: wrap;
}
.product .product__info .product__info__grid {
  display: grid;
}
.product .product__info .product__info__pam p {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Graphik LCG, sans-serif;
}
.product .product__info .product__info__pam .product__info__cd {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 5px;
}
.product .product__info .product__info__cds {
  background-color: #FFF45F;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
}
.product .product__info .product__info__cdc {
  background-color: #F2F5F7;
  padding: 10px;
  border-radius: 5px;
  color: #8E969E;
}
.product .product__info .product__info__flex {
  display: flex;
  gap: 80px;
}
.product .product__info .product__info__flex .product__info__plat p {
  font-size: 14px;
  color: #8E969E;
  padding-top: 2px;
  padding-bottom: 2px;
}
.product .product__info .product__info__flex .product__info__platt {
  margin-top: 35px;
}
.product .product__info .product__info__flex .product__info__platt p {
  font-size: 14px;
}
.product .product__info .product__info__chvet {
  padding-top: 10px;
  padding-bottom: 10px;
}
.product .product__info .product__info__chvet .product__info__chvet__img {
  margin-top: 10px;
  display: flex;
  gap: 18px;
}
.product .product__info .product__skidka {
  border: 1px solid #DAE0E5;
  border-radius: 5px;
  width: 330px;
  height: 236px;
  padding: 30px;
  color: #8E969E;
}
.product .product__info .product__skidka .product__skidka__flex {
  display: flex;
}
.product .product__info .product__skidka .product__skidka__flex .product__skidka__foiz {
  background-color: #F23D5B;
  color: #F2F5F7;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
}
.product .product__info .product__skidka .product__skidka__flex .product__skidka__c {
  color: #8E969E;
  padding: 10px;
}
.product .product__info .product__sum {
  font-size: 24px;
  margin-top: 15px;
  color: #000000;
}
.product .product__info .sum {
  font-size: 14px;
  color: #8E969E;
}
.product .product__info .product__korzinka {
  margin-top: 30px;
  background-color: #FFAE00;
  color: #FFFFFF;
  width: 270px;
  height: 54px;
  border: none;
  border-radius: 9px;
}
.product .product__info .product__dastabki {
  width: 100%;
  margin-top: 30px;
}
.product .product__info .product__dastabki .product__dastabki__p {
  font-family: Arial sans-serif;
  font-size: 20px;
  color: #000000;
}
.product .product__info .product__dastabki .product__dastabki__card {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 9px;
}
.product .product__info .product__dastabki .product__dastabki__card .product__dastabki__bold {
  font-size: 15px;
  color: #000000;
}
.product .product__info .product__dastabki .product__dastabki__card .product__dastabki__span {
  color: #FFAE00;
}
.product .product__info .product__samsung__brend {
  display: flex;
  border: 1px solid #DAE0E5;
  border-radius: 5px;
  width: 300px;
}
.product .product__info .product__samsung__brend .product__samsung__brend__p {
  text-align: center;
}
.product .product__info .product__samsung__brend .product__samsung__brend__p .brendu {
  color: #FFAE00;
}
.product .product__info .product__samsung__brend .product__samsung__brend__p p {
  font-family: Graphik LCG, sans-serif;
  padding: 10px;
}
.product .text__area {
  margin-top: 30px;
  width: 940px;
  height: 372px;
  display: flex;
  border: 1px solid #E8E9EA;
  border-radius: 5px;
  padding: 0px;
}
.product .text__area .text__area__title {
  padding-bottom: 20px;
}
.product .text__area .text__area__title .text__area__title__obshe {
  margin-top: 6rem;
}
.product .text__area .text__area__title .title__more {
  display: flex;
}
.product .text__area .text__area__title .text__area__title__h1 {
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  gap: 5px;
}
.product .text__area .text__area__title .text__area__title__h1 .text__area__title__more {
  font-size: 14px;
  display: flex;
  align-items: end;
}
.product .text__area .text__area__title button {
  margin-top: 30px;
  background-color: #FFAE00;
  color: #FFFFFF;
  width: 200px;
  height: 54px;
  border: none;
  border-radius: 9px;
}
.product .text__area .product__mini__card {
  display: flex;
  padding: 20px;
  gap: 10px;
  font-size: 14px;
}
.product .text__area .product__mini__card .product__mini .product__mini__like {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.product .text__area .product__mini__card .product__mini p {
  padding-top: 3px;
  padding-bottom: 3px;
}
.product .text__area .product__mini__card .product__mini button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 165px;
  height: 40px;
  background-color: #FFF7E6;
  color: #FFAE00;
  border: none;
  border-radius: 5px;
}
.product .text__area .product__mini__card .product__mini .product__mini__more {
  display: flex;
  gap: 5px;
  font-family: Graphik LCG, Arial, sans-serif;
}
.product .text__area .product__mini__card .product__mini .product__mini__more p {
  font-size: 14px;
}
.product .text__area .product__mini__card .product__mini .product__mini__more span {
  font-size: 14px;
  color: #8E969E;
}

.section-first {
  color: #171F26;
}
.section-first .section-first__p {
  font-size: 24px;
  margin: 30px 0;
}
.section-first .section-first__flex {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.section-first .section-first__flex .section-first__flex-items {
  display: flex;
  gap: 50px;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__imgs {
  display: flex;
  align-items: start;
  gap: 10px;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__imgs .img {
  margin-top: 25px;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__element {
  display: grid;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__element b {
  display: block;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__element .element-p {
  display: flex;
  gap: 10px;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__element .element-p .paragraf-1 {
  color: #8E969E;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__element .element-p .element-p__clr {
  color: #FFAE00;
}
.section-first .section-first__flex .section-first__flex-items .section-first__flex-items__element .element-item {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  align-items: center;
}
.section-first .section-first__flex .section-first__flex-items .content .content__del {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #8E969E;
  margin-bottom: 12px;
}
.section-first .section-first__flex .section-first__flex-items .content .content__sum {
  font-size: 24px;
}
.section-first .section-first__flex .section-first__flex-items .content .content__sum span {
  color: #8E969E;
  font-size: 14px;
}
.section-first .section-first__flex .section-first__flex-items .content .content__skidka {
  font-size: 14px;
  color: #8E969E;
}
.section-first .section-first__flex .section-first__flex-items .content .content__img {
  cursor: pointer;
  margin: 25px 0;
}
.section-first .section-first__flex .section-first__flex-items .content .content__btn {
  padding: 15px;
  width: 200px;
  display: flex;
  justify-content: center;
  color: white;
  background: #FFAE00;
  border-radius: 8px;
  margin-top: 110px;
  border-color: #FFAE00;
}

.section-three {
  margin: 20px 0;
}/*# sourceMappingURL=main.css.map */