*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  background: rgb(248, 246, 237);
  border-radius: 20px;
  width: 8px;
}
::-webkit-scrollbar-button{
  background: rgb(252, 197, 47);
}
::-webkit-scrollbar-thumb{
  background: orange;
  border-radius: 20px;
}

img {
  object-fit: cover;
}

a {
  text-decoration: inherit;
  color: inherit;
}
