doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
<<<<<<< HEAD
        title Document
        link(rel="stylesheet", href="../css/main.css")
    body 
        include ./components/header.pug
        include ./components/category-filter.pug
=======
        title zaytun
        link(rel="stylesheet", href="./css/main.css")
    body 
        include ./components/header.pug


        script(src="/js/header.js")
>>>>>>> 7095834726de4d66e532aa9138c16b0d40348c75
