doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/main.css")
    body 
        include ./components/header.pug
        
        main 
            section.container
                .homecontent 
                    .saidbar 
                        h1 Поддержка пользователей

                        div.saidbarbox
                            ul 
                                li.bold Аккаунт
                                li Избранное
                                li Корзина
                                li Промокоды
                                li Промокоды
                                li Промокоды
                                li Промокоды
                                .mt
                                li.bold Покупки и доставка
                                li Мои отзывы
                                li Мои жалобы
                                li Мои жалобы
                                li Мои жалобы
                                li Мои жалобы
                                li Мои жалобы
                                li Настройки и безопасность
                                .mt
                                li.bold Оплата
                                li Покупки и доставка
                                li Мои отзывы
                                li Мои жалобы
                                li Мои жалобы
                                li Мои жалобы
                                li Мои жалобы
                                li Мои жалобы
                    .menu 
                        
                        .box.minContainer.txleft
                            h4.mt Мелочь, а приятно: младая поросль матереет
                            p Для современного мира постоянный количественный рост и сфера нашей активности является качественно новой ступенью стандартных подходов. В частности, дальнейшее развитие различных форм деятельности говорит о возможностях дальнейших направлений развития. Дальнейшее развитие различных форм деятельности создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса приоритизации разума над эмоциями.
                            p Для современного мира постоянный количественный рост и сфера нашей активности является качественно новой ступенью стандартных подходов. В частности, дальнейшее развитие различных форм деятельности говорит о возможностях дальнейших направлений развития. Дальнейшее развитие различных форм деятельности создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса приоритизации разума над эмоциями.

                            h4.mt Цена вопроса не важна, когда обучение кадров - приоритетная задача
                            p Но сторонники тоталитаризма в науке заблокированы в рамках своих собственных рациональных ограничений.
                            .list 
                                ol 
                                li Постоянный количественный рост ни к чему нас не обязывает
                                li Нынче никто не может себе позволить инициировать грохот грома градущих изменений
                                li Постоянный количественный рост определил дальнейшее развитие
                                li Независимые СМИ потому и независимы, что в провинциях ещё есть чем поживиться
                                li Только кровь стынет в жилах
                            h4.mt Да, чистый разум не скован границами
                            p.posershka__title В своём стремлении улучшить пользовательский опыт мы упускаем, что многие известные личности неоднозначны и будут объединены в целые кластеры себе подобных.
                            .mt.linehigh 
                                ul 
                                    li 1.Курс ценных бумаг даёт нам право принимать самостоятельные решения
                                    li 2.Нашу победу сопровождал треск разлетающихся скреп
                                    li 3.Смешно, но частокол на границе починят
                            .mt.call_box
                                .call__item 
                                    p Все еще проблема не решена?
                                    h5 support@zaytun.uz
                                    p Круглосуточная поддержка
                                .call__item 
                                    p Все еще проблема не решена?
                                    h5 support@zaytun.uz
                                    p Круглосуточная поддержка
                                .call__item 
                                    p Все еще проблема не решена?
                                    h5 support@zaytun.uz
                                    p Круглосуточная поддержка
        script(src="./js/header.js")