doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title sevimlilar
        link(rel="stylesheet", href="./css/main.css")
    body 
    include ./components/header.pug
    main 
        section.container
            h1.sevimlilarx Избранное

            .box.minContainer
                img(src="./assets/sevimlilar/heart.png", alt="")
                h1 В избранном еще нет товаров
                p Добавляйте товары в избранное, чтобы не потерять
                button.btnmax Добавить товары
    script(src="/js/header.js")