<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS link-->
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
  </head>
  <body>
    <section class="category_filter">
      <div class="container filter_container">
        <div class="filter">
          <div class="filter_links"><a href="#">Одежда и обувь <span><img src="/assets/logos/right.svg" alt=""></span></a><a href="#">Мужчинам <span><img src="/assets/logos/right.svg" alt=""></span></a><a href="#">Верхняя одежда</a></div>
          <div class="filter_title"> 
            <h2>Мужчинам</h2>
            <p>12 392 товаров</p>
          </div>
          <div class="filter_category"> 
            <h4>Категория</h4>
            <ol class="list"> 
              <li class="list_item"> 
                <h5> <span> <img src="../../assets/logos/left.svg" alt=""></span>Одежда и обувь</h5>
                <h5> <span> <img src="../../assets/logos/left.svg" alt=""></span>Мужчинам</h5>
              </li>
            </ol>
          </div>
          <div class="filter_odeji">
            <h5>Верхняя одежда</h5>
            <ol class="list"> 
              <li class="list_item">Рубашки</li>
              <li class="list_item">Футболки</li>
              <li class="list_item">Пальто</li>
              <li class="list_item">Свитеры</li>
              <li class="list_item">Толстовки</li>
              <li class="list_item">Жилеты</li>
              <li class="list_item">Майки</li>
              <li class="list_item">Плащи</li>
              <li class="list_item">Пуховики</li>
            </ol>
          </div>
          <div class="filter_brand"> 
            <div class="title"> 
              <h4>Бренды</h4>
              <h4 class="orange">Очистить</h4>
            </div>
            <ol class="list"> 
              <li> 
                <input type="checkbox" checked>
                <label for="adidas">Adidas </label>
              </li>
              <li> 
                <input type="checkbox">
                <label for="puma">Puma </label>
              </li>
              <li> 
                <input type="checkbox">
                <label for="nike">Nike </label>
              </li>
              <li> 
                <input type="checkbox">
                <label for="lc-waikiki">LC Waikiki </label>
              </li>
              <li> 
                <input type="checkbox">
                <label for="koton">KOTON </label>
              </li>
            </ol>
            <div class="show_more"> 
              <p>Показать все</p>
            </div>
          </div>
          <div class="filter_size"> 
            <h4>Размер</h4>
            <div class="btns"> 
              <button class="size_btn"> <span class="orange">XS  </span><span>4324</span></button>
              <button class="size_btn"> <span class="orange">S  </span><span>4532</span></button>
              <button class="size_btn"> <span class="orange">M </span><span>1234</span></button>
              <button class="size_btn"> <span class="orange">L  </span><span>352</span></button>
              <button class="size_btn"> <span class="orange">XL  </span><span>123</span></button>
              <button class="size_btn"> <span class="orange">2XL  </span><span>234</span></button>
              <button class="size_btn"> <span class="orange">3XL  </span><span>52</span></button>
              <button class="size_btn"> <span class="orange">48  </span><span>53</span></button>
              <button class="size_btn"> <span class="orange">50  </span><span>0</span></button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>