
<aside> 
  <h4>Летние вечеринки, без музыки?</h4>
  <button>Выбрать колонки</button>
</aside>
<header class="container">
  <div class="logo"> 
    <h1>zaytun</h1>
  </div>
  <div class="til"> 
    <p>Рус </p>
    <div class="hr2"> </div>
    <p>O’zb</p>
  </div>
  <div class="search__input"> 
    <div class="input">
      <input type="search" placeholder="Что вас интересует?"/>
      <button>serach</button>
    </div>
    <div class="btn"> 
      <ul> 
        <li>samsung</li>
        <li>samsung a32</li>
        <li>samsung active 2</li>
      </ul>
      <div class="box"> 
        <div> <img src="../../assets/banner/img (1).svg" alt=""/></div>
        <div> 
          <h5>Смартфоны</h5>
          <p>Электроника / Смартфоны</p>
        </div>
      </div>
      <div class="box"> 
        <div> <img src="../../assets/banner/img (2).svg" alt=""/></div>
        <div> 
          <h5>Samsung</h5>
          <p>Бренд </p>
        </div>
      </div>
      <div class="box"> 
        <div> <img src="../../assets/banner/img.svg" alt=""/></div>
        <div> 
          <h5>Samsung Galaxy S21 Ultra</h5>
          <p>12 479 990 UZS</p>
        </div>
      </div>
      <div class="box"> 
        <div> <img src="../../assets/banner/Rectangle 19.png" alt=""/></div>
        <div> 
          <h5>Samsung 49FM9L 4K Smart TV</h5>
          <p>12 479 990 UZS</p>
        </div>
      </div>
      <div class="box"> 
        <div> <img src="../../assets/banner/Rectangle 19.svg" alt=""/></div>
        <div> 
          <h5>Samsung Galaxy S21</h5>
          <p>12 479 990 UZS</p>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons"><a class="box" href="../../html/components/wishlist.html"> 
      <div> <img src="../../assets/logo/icon.png" alt=""/></div>
      <div> 
        <h5>Избранное</h5>
        <p>2 товара</p>
      </div></a>
    <div class="box"> 
      <div> <img src="../../assets/logo/icon (1).png" alt=""/></div>
      <div> 
        <h5>Корзина</h5>
        <p>12 товаров</p>
      </div>
    </div>
    <div class="box"> 
      <div> <img src="../../assets/logo/icon (2).png" alt=""/></div>
      <div> 
        <h5>Андрей Иванов</h5>
        <p>Мой профиль</p>
      </div>
    </div>
  </div>
</header>
<div class="header__menu container"><img src="../../assets/logo/menu.svg" alt=""/>
  <p>Каталог товаров</p>
  <p>Одежда и обувь</p><a href=""> </a>
  <p>Электроника</p>
  <p>Для дома</p>
  <p>Спорт</p>
  <p>Дети</p>
  <p>Книги</p>
  <p>Бренды</p>
  <p>Зоо</p>
  <p>Компьютеры</p>
  <p>Здоровье</p>
  <p>Ремонт</p>
</div>