<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Product</title>
  </head>
  <body>   
    <main> 
      <section class="hero"> 
        <div class="mini-nav"> 
          <h3>Электроника <span>></span></h3>
          <h3>Смартфоны и планшеты <span>></span></h3>
          <h3>Смартфоны <span>></span></h3>
          <h3>Samsung </h3>
        </div>
        <div class="title-part"> 
          <h1>Samsung Galaxy A51 4/64GB</h1>
        </div>
      </section>
    </main>
  </body>
</html>