
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="../../css/main.css"/>
<title>Product</title>
<body>
  <aside> 
    <h4>Летние вечеринки, без музыки?</h4>
    <button>Выбрать колонки</button>
  </aside>
  <header class="container">
    <div class="logo"> 
      <h1>zaytun</h1>
    </div>
    <div class="til"> 
      <p>Рус </p>
      <div class="hr2"> </div>
      <p>O’zb</p>
    </div>
    <div class="search__input"> 
      <div class="input">
        <input type="search" placeholder="Что вас интересует?"/>
        <button>serach</button>
      </div>
      <div class="btn"> 
        <ul> 
          <li>samsung</li>
          <li>samsung a32</li>
          <li>samsung active 2</li>
        </ul>
        <div class="box"> 
          <div> <img src="../../assets/banner/img (1).svg" alt=""/></div>
          <div> 
            <h5>Смартфоны</h5>
            <p>Электроника / Смартфоны</p>
          </div>
        </div>
        <div class="box"> 
          <div> <img src="../../assets/banner/img (2).svg" alt=""/></div>
          <div> 
            <h5>Samsung</h5>
            <p>Бренд </p>
          </div>
        </div>
        <div class="box"> 
          <div> <img src="../../assets/banner/img.svg" alt=""/></div>
          <div> 
            <h5>Samsung Galaxy S21 Ultra</h5>
            <p>12 479 990 UZS</p>
          </div>
        </div>
        <div class="box"> 
          <div> <img src="../../assets/banner/Rectangle 19.png" alt=""/></div>
          <div> 
            <h5>Samsung 49FM9L 4K Smart TV</h5>
            <p>12 479 990 UZS</p>
          </div>
        </div>
        <div class="box"> 
          <div> <img src="../../assets/banner/Rectangle 19.svg" alt=""/></div>
          <div> 
            <h5>Samsung Galaxy S21</h5>
            <p>12 479 990 UZS</p>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons"><a class="box" href="../../html/components/wishlist.html"> 
        <div> <img src="../../assets/logo/icon.png" alt=""/></div>
        <div> 
          <h5>Избранное</h5>
          <p>2 товара</p>
        </div></a>
      <div class="box"> 
        <div> <img src="../../assets/logo/icon (1).png" alt=""/></div>
        <div> 
          <h5>Корзина</h5>
          <p>12 товаров</p>
        </div>
      </div>
      <div class="box"> 
        <div> <img src="../../assets/logo/icon (2).png" alt=""/></div>
        <div> 
          <h5>Андрей Иванов</h5>
          <p>Мой профиль</p>
        </div>
      </div>
    </div>
  </header>
  <div class="header__menu container"><img src="../../assets/logo/menu.svg" alt=""/>
    <p>Каталог товаров</p>
    <p>Одежда и обувь</p>
    <p>Продукты</p>
    <p>Электроника</p>
    <p>Для дома</p>
    <p>Спорт</p>
    <p>Дети</p>
    <p>Книги</p>
    <p>Бренды</p>
    <p>Зоо</p>
    <p>Компьютеры</p>
    <p>Здоровье</p>
    <p>Ремонт</p>
  </div>
  <main>
    <div class="product">
      <section>
        <div class="product__nav">
          <div class="product__nav__a"><a href="href">Электроника</a><img src="../../assets/Product/right-arrow 1.svg" alt="alt"/></div>
          <div class="product__nav__a"><a href="href">Смартфоны и планшеты</a><img src="../../assets/Product/right-arrow 1.svg" alt="alt"/></div>
          <div class="product__nav__a"><a href="href">Смартфоны</a><img src="../../assets/Product/right-arrow 1.svg" alt="alt"/></div>
          <div class="product__nav__a"><a href="href">Samsung</a></div>
        </div>
      </section>
      <section>
        <div class="product__samsung">
          <p>Samsung Galaxy A51 4/64GB</p>
        </div>
        <div class="otzitivs">
          <div class="otzitiv">
            <div><img src="../../assets/Product/star 1.svg" alt="alt"/><img src="../../assets/Product/star 1.svg" alt="alt"/><img src="../../assets/Product/star 1.svg" alt="alt"/><img src="../../assets/Product/star 1.svg" alt="alt"/><img src="../../assets/Product/star 5.svg" alt="alt"/></div>
            <div class="otzitiv__24">
              <p>24 отзыва</p>
            </div>
          </div>
          <div class="izbrine">
            <div> <img src="../../assets/Product/heart.svg" alt=""/>
              <p>Bизбранное</p>
            </div>
            <div> <img src="../../assets/Product/signal (1).svg" alt=""/>
              <p>Сравнить</p>
            </div>
            <div><img src="../../assets/Product/arrows-expand-up-right (1).svg" alt=""/>
              <p>Поделиться</p>
            </div>
          </div>
        </div>
        <div class="otzitiv__hr"></div>
      </section>
      <section>
        <div class="product__info">
          <div class="product__info__grid"><img src="../../assets/Product/Frame 39.svg" alt="alt"/><img src="../../assets/Product/Frame 40.svg" alt="alt"/><img src="../../assets/Product/Frame 41.svg" alt="alt"/><img src="../../assets/Product/Frame 42.svg" alt="alt"/><img src="../../assets/Product/Frame 43.svg" alt="alt"/></div>
          <div><img src="../../assets/Product/Frame 38.svg" alt="alt"/></div>
          <div class="product__info__pam">
            <p>Объем памяти</p>
            <div class="product__info__cd">
              <p class="product__info__cds">4/64GB</p>
              <p class="product__info__cdc">6/128GB</p>
            </div>
            <div class="product__info__chvet">
              <p>Цвет</p>
              <div class="product__info__chvet__img"><img src="../../assets/Product/white - selected.svg" alt="alt"/><img src="../../assets/Product/black.svg" alt="alt"/><img src="../../assets/Product/blue.svg" alt="alt"/></div>
            </div>
            <div class="product__info__flex">
              <div class="product__info__plat">
                <p>Платформа:</p>
                <p>Кол-во SIM карт:</p>
                <p>Диагональ экрана:</p>
                <p>Камера:</p>
                <p>Аккумулятор:</p>
                <p>Тип матрицы:</p>
                <p>Габариты:</p>
                <p>Процессор:</p>
                <p>Гарантия:</p>
              </div>
              <div class="product__info__platt">
                <p>Android 10</p>
                <p>2 SIM + SD Card</p>
                <p>6.5”</p>
                <p>48МП+8МП+5МП+5МП</p>
                <p>4 000 mAh</p>
                <p>SUPER AMOLED</p>
                <p>ШхВхТ 142х79.0х13.5 мм, вес 140 г</p>
                <p>Exynos 420, 8 ядер</p>
                <p>1 год</p>
              </div>
            </div>
          </div>
          <div class="product__skidka">
            <div class="product__skidka__flex">
              <p class="product__skidka__foiz">- 6%</p>
              <p class="product__skidka__c">2 720 000</p>
            </div>
            <p class="product__sum">16 843 000 <span class="sum">сум</span></p>
            <p>Сезонная скидка</p>
            <button class="product__korzinka">Добавить в корзину</button>
            <div class="product__dastabki">
              <p class="product__dastabki__p">Доставка</p>
              <div class="product__dastabki__card"><img src="../../assets/Product/fast-delivery 1.svg" alt="alt"/>
                <div>
                  <p class="product__dastabki__bold">Доставка курьером,<span class="product__dastabki__span">Ташкент</span></p>
                  <p>Бесплатно</p>
                </div>
              </div>
              <div class="product__dastabki__card"><img src="../../assets/Product/box.svg" alt="alt"/>
                <div>
                  <p class="product__dastabki__bold">Самовывоз,<span class="product__dastabki__span">Точки выдачи</span></p>
                  <p>Бесплатно</p>
                </div>
              </div>
              <div class="product__dastabki__card"><img src="../../assets/Product/credit-card.svg" alt="alt"/>
                <div>
                  <p class="product__dastabki__bold">Оплата. Наличными, картой, онлайн</p>
                  <p>Payme, Click</p>
                </div>
              </div>
              <div class="product__samsung__brend"><img src="../../assets/Product/samsung.svg" alt="alt"/>
                <div class="product__samsung__brend__p">
                  <p class="brendu">Перейти к бренду</p>
                  <p>1 023 товаров</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section> 
        <div class="text__area">
          <div class="text__area__title">
            <div class="text__area__title__h1">
              <p>С этим товаром </p>
              <p>покупают в</p>
              <p>комплекте</p><br/>
            </div>
            <div class="text__area__title__obshe">
              <p>Общая стоимость товаров</p>
            </div>
            <div class="text__area__title__h1 title__more">
              <p>16 843 000 </p>
              <div class="text__area__title__more">
                <p>сум</p>
              </div>
            </div>
            <button>Добавить все в корзину</button>
          </div>
          <div class="product__mini__card">
            <div class="product__mini">
              <div class="product__mini__like"><img src="../../assets/Product/like.svg" alt=""/></div><img src="../../assets/Product/text__area soat.svg" alt=""/>
              <div class="product__mini__more">
                <p>3 824 000</p><span>сум</span>
              </div>
              <p>Samsung Watches</p>
              <p>5 series 16GB</p>
              <button>В корзине</button>
            </div>
            <div class="product__mini">
              <div class="product__mini__like"><img src="../../assets/Product/like.svg" alt=""/></div><img src="../../assets/Product/text__area telfon.svg" alt=""/>
              <div class="product__mini__more">
                <p>54 000</p><span>сум</span>
              </div>
              <p>Чехол Samsung Galaxy </p>
              <p>A51 силиконовый</p>
              <button>В корзине</button>
            </div>
            <div class="product__mini">
              <div class="product__mini__like"><img src="../../assets/Product/like.svg" alt=""/></div><img src="../../assets/Product/text__area airpods.svg" alt=""/>
              <div class="product__mini__more">
                <p>2 540 000</p><span>сум</span>
              </div>
              <p>Apple Airpods Pro</p>
              <p>беспроводные наушн...</p>
              <button>В корзине</button>
            </div>
            <div class="product__mini">
              <div class="product__mini__like"><img src="../../assets/Product/like.svg" alt=""/></div><img src="../../assets/Product/text__area cd.svg" alt=""/>
              <div class="product__mini__more">
                <p>40 000</p><span>сум</span>
              </div>
              <div class="product__mini__more"></div>
              <p>Флеш карта Sandisk</p>
              <p>Micro SD 16GB</p>
              <button>В корзине</button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="product-center">
      <div class="product-cardtime">
        <section> 
          <div class="text__area">
            <div class="product__mini__card">
              <div class="product__mini">
                <div class="product__mini__like"><img src="../../assets/Product/like.svg" alt=""/></div><img class="the-first" src="/assets/Product/thenew/Rectangle 19.svg" alt=""/>
                <div class="product__mini__more">
                  <p>40 000</p><span>сум</span>
                </div>
                <div class="product__mini__more"></div>
                <p>Флеш карта Sandisk</p>
                <p>Micro SD 16GB</p><img src="/assets/Product/rating.svg" alt=""/>
              </div>
              <div class="product__mini">
                <div class="product__mini__like"><img src="../../assets/Product/like.svg" alt=""/></div><img src="/assets/Product/thenew/Rectangle 20.svg" alt=""/>
                <div class="product__mini__more the-second">
                  <p>40 000</p><span>сум</span>
                </div>
                <div class="product__mini__more"></div>
                <p>Флеш карта Sandisk</p>
                <p>Micro SD 16GB</p><img src="/assets/Product/rating.svg" alt=""/>
              </div>
              <div class="product__mini">
                <div class="product__mini__like"><img src="../../assets/Product/like.svg" alt=""/></div><img src="/assets/Product/thenew/Rectangle 21.svg" alt=""/>
                <div class="product__mini__more the-third">
                  <p>40 000</p><span>сум</span>
                </div>
                <div class="product__mini__more"></div>
                <p>Флеш карта Sandisk</p>
                <p>Micro SD 16GB</p><img src="/assets/Product/rating.svg" alt=""/>
              </div>
              <div class="product__mini">
                <div class="product__mini__like"><img src="../../assets/Product/like.svg" alt=""/></div><img src="/assets/Product/thenew/Rectangle 22.svg" alt=""/>
                <div class="product__mini__more the-fourth">
                  <p>40 000</p><span>сум</span>
                </div>
                <div class="product__mini__more"></div>
                <p>Флеш карта Sandisk</p>
                <p>Micro SD 16GB</p><img src="/assets/Product/rating.svg" alt=""/>
              </div>
            </div>
          </div>
        </section>
      </div><img class="adpng" src="/assets/Product/ad.png" alt=""/>
    </div>
  </main>
</body>