<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="shortcut icon" href="../../assets/logo/Group 3.svg" type="image/x-icon">
    <title>Reviews - empty</title>
  </head>
  <body>
    <div class="product__otzitv">
      <div class="product__otzitv__p">
        <p>Отзывы</p>
      </div>
      <div> 
        <p>M </p>
        <div>
          <p>Максим</p>
          <p>12 июль 2020</p>
        </div>
        <div> <img src="../../assets/Product-Otzitv/star 1 (1).svg" alt=""><img src="../../assets/Product-Otzitv/star 1 (1).svg" alt=""><img src="../../assets/Product-Otzitv/star 1 (1).svg" alt=""><img src="../../assets/Product-Otzitv/star 1 (1).svg" alt=""><img src="../../assets/Product-Otzitv/star 5 (1).svg" alt=""></div>
      </div>
      <div class="product__otzitv__docton">
        <div class="product__otzitv__docton">
          <p>Достоинства:</p>
          <p>Прежде всего, сложившаяся структура организации играет важную роль в формировании экспериментов, поражающих по своей масштабности и грандиозности.</p>
        </div>
        <div class="product__otzitv__docton">
          <p>Недостатки:</p>
          <p>Недостатков нет</p>
        </div>
        <div class="product__otzitv__docton">
          <p>Комментарий:</p>
          <p>Повседневная практика показывает, что укрепление и развитие внутренней структуры создаёт предпосылки для инновационных методов управления процессами. В своём стремлении улучшить пользовательский опыт мы упускаем, что базовые сценарии поведения пользователей могут быть своевременно верифицированы.</p>
        </div>
        <div class="product__otzitv__img"><img src="../../assets/Product-Otzitv/Rectangle 60 (1).svg" alt=""><img src="../../assets/Product-Otzitv/Rectangle 77 (2).svg" alt=""><img src="../../assets/Product-Otzitv/Rectangle 78.svg" alt=""><img src="../../assets/Product-Otzitv/Rectangle 79.svg" alt=""><img src="../../assets/Product-Otzitv/Rectangle 80.svg" alt=""><img src="../../" alt=""></div>
      </div>
    </div>
  </body>
</html>