<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="shortcut icon" href="../../assets/logo/Group 3.svg" type="image/x-icon">
    <title>Reviews - empty</title>
  </head>
  <body>
    <div class="prodct__otzitv"> 
      <p>Отзывы</p>
      <div> 
        <p>M </p>
        <div>
          <p>Максим</p>
          <p>12 июль 2020</p>
        </div>
        <div> <img src="../../assets/Product-Otzitv/star 1 (1).svg" alt=""><img src="../../assets/Product-Otzitv/star 1 (1).svg" alt=""><img src="../../assets/Product-Otzitv/star 1 (1).svg" alt=""><img src="../../assets/Product-Otzitv/star 1 (1).svg" alt=""></div>
      </div>
    </div>
  </body>
</html>