<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="shortcut icon" href="../../assets/logo/Group 3.svg" type="image/x-icon">
    <title>Reviews - empty</title>
  </head>
  <body> 
    <div class="reviews__empty">
      <div class="reviews__empty__moy">
        <p>reviews__empty</p>
        <div class="reviews__empty__smile"><img src="" alt="">
          <p>Вы еще не оставляли отзывы</p>
          <p>Оставьте отзыв на купленный вами товар и получите бонус!</p>
          <p>Вы можете оставлять отзывы только на заказанные товары</p>
          <p>Мои заказы</p>
        </div>
      </div>
    </div>
  </body>
</html>