<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Document</title>
  </head>
  <body> 
    <main class="container"> 
      <section> 
        <p>Избранное</p>
        <hr>
        <div> 
          <div> <img src="../../assets/wishlist-imgs/Frame 14.svg" alt=""><img src="../../assets/wishlist-imgs/Rectangle 23.svg" alt=""></div>
          <div> 
            <p>Sony WH-1000XM3 беспроводные наушники</p><img src="../../assets/wishlist-imgs/rating.svg" alt="">
            <div> 
              <p>Платформа:</p>
              <p>Android 10</p>
            </div>
            <div> 
              <p>Платформа:</p>
              <p>Android 10</p>
            </div>
            <div> 
              <p>Платформа:</p>
              <p>Android 10</p>
            </div>
            <div> 
              <p>Платформа:</p>
              <p>Android 10</p>
            </div>
            <div> 
              <p>Платформа:</p>
              <p>Android 10</p>
            </div>
            <div> 
              <p>Платформа:</p>
              <p>Android 10</p>
            </div>
            <div> 
              <p>Платформа:</p>
              <p>Android 10</p>
            </div>
            <div> 
              <div> <img src="../../assets/wishlist-imgs/heart.svg" alt="">
                <p>Убрать из избранного</p>
              </div>
              <div> <img src="../../assets/wishlist-imgs/signal.svg" alt="">
                <p>Сравнить</p>
              </div>
              <div> <img src="../../assets/wishlist-imgs/arrows-expand-up-right.svg" alt="">
                <p>Поделиться</p>
              </div>
            </div>
          </div>
          <div> <img src="../../assets/wishlist-imgs/Line 10.svg" alt=""></div>
          <div> 
            <del>2 720 000</del>
            <p>3 020 000 сум</p>
            <p>Сезонная скидка</p><img src="../../assets/wishlist-imgs/Group 32.svg" alt="">
            <button>Добавить в корзину</button>
          </div>
        </div>
        <hr>
      </section>
    </main>
  </body>
</html>