<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Document</title>
  </head>
  <body> 
    <aside> 
      <h4>Летние вечеринки, без музыки?</h4>
      <button>Выбрать колонки</button>
    </aside>
    <header class="container">
      <div class="logo"> 
        <h1>zaytun</h1>
      </div>
      <div class="til"> 
        <p>Рус </p>
        <div class="hr2"> </div>
        <p>O’zb</p>
      </div>
      <div class="search__input"> 
        <div class="input">
          <input type="text" placeholder="Что вас интересует?">
          <button>serach</button>
        </div>
        <div class="btn"> 
          <ul> 
            <li>samsung</li>
            <li>samsung a32</li>
            <li>samsung active 2</li>
          </ul>
          <div class="box"> 
            <div> <img src="../assets/banner/img (1).svg" alt=""></div>
            <div> 
              <h5>Смартфоны</h5>
              <p>Электроника / Смартфоны</p>
            </div>
          </div>
          <div class="box"> 
            <div> <img src="../assets/banner/img (2).svg" alt=""></div>
            <div> 
              <h5>Samsung</h5>
              <p>Бренд </p>
            </div>
          </div>
          <div class="box"> 
            <div> <img src="../assets/banner/img.svg" alt=""></div>
            <div> 
              <h5>Samsung Galaxy S21 Ultra</h5>
              <p>12 479 990 UZS</p>
            </div>
          </div>
          <div class="box"> 
            <div> <img src="../assets/banner/Rectangle 19.png" alt=""></div>
            <div> 
              <h5>Samsung 49FM9L 4K Smart TV</h5>
              <p>12 479 990 UZS</p>
            </div>
          </div>
          <div class="box"> 
            <div> <img src="../assets/banner/Rectangle 19.svg" alt=""></div>
            <div> 
              <h5>Samsung Galaxy S21</h5>
              <p>12 479 990 UZS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="box"> 
          <div> <img src="../assets/logo/icon (1).png" alt=""></div>
          <div> 
            <h5>Избранное</h5>
            <p>2 товара</p>
          </div>
        </div>
        <div class="box"> 
          <div> <img src="../assets/logo/icon (2).png" alt=""></div>
          <div> 
            <h5>Избранное</h5>
            <p>2 товара</p>
          </div>
        </div>
        <div class="box"> 
          <div> <img src="../assets/logo/icon.png" alt=""></div>
          <div> 
            <h5>Избранное</h5>
            <p>2 товара</p>
          </div>
        </div>
      </div>
    </header>
    <div class="header__menu container"><img src="../assets/logo/menu.svg" alt="">
      <p>Каталог товаров</p>
      <p>Одежда и обувь</p>
      <p>Продукты</p>
      <p>Электроника</p>
      <p>Для дома</p>
      <p>Спорт</p>
      <p>Дети</p>
      <p>Книги</p>
      <p>Бренды</p>
      <p>Зоо</p>
      <p>Компьютеры</p>
      <p>Здоровье</p>
      <p>Ремонт</p>
    </div>
    <main class="container"> 
      <section class="section-first"> 
        <p class="section-first__p">Избранное</p>
        <hr>
        <div class="section-first__flex"> 
          <div class="section-first__flex-items"> 
            <div class="section-first__flex-items__imgs"> <img src="../../assets/wishlist-imgs/Frame 14.svg" alt=""><img class="img" src="../../assets/wishlist-imgs/Rectangle 23.svg" alt=""></div>
            <div class="section-first__flex-items__element"> <b>Sony WH-1000XM3 беспроводные наушники</b><img src="../../assets/wishlist-imgs/rating.svg" alt="">
              <div> 
                <p>Платформа:</p>
                <p>Android 10</p>
              </div>
              <div> 
                <p>Кол-во SIM карт:</p>
                <p>2 SIM + SD Card</p>
              </div>
              <div> 
                <p>Диагональ экрана:</p>
                <p>6.5”</p>
              </div>
              <div> 
                <p>Камера:</p>
                <p>48МП+8МП+5МП+5МП</p>
              </div>
              <div> 
                <p>Аккумулятор</p>
                <p>4 000 mAh</p>
              </div>
              <div> 
                <p>Тип матрицы:</p>
                <p>SUPER AMOLED</p>
              </div>
              <div> 
                <p>Габариты:</p>
                <p>ШхВхТ 142х79.0х13.5 мм, вес 140 г</p>
              </div>
              <div> 
                <div> <img src="../../assets/wishlist-imgs/heart.svg" alt="">
                  <p>Убрать из избранного</p>
                </div>
                <div> <img src="../../assets/wishlist-imgs/signal.svg" alt="">
                  <p>Сравнить</p>
                </div>
                <div> <img src="../../assets/wishlist-imgs/arrows-expand-up-right.svg" alt="">
                  <p>Поделиться</p>
                </div>
              </div>
            </div>
          </div>
          <div class="section-first__flex-items"> <img src="../../assets/wishlist-imgs/Line 10.svg" alt="">
            <div> 
              <del>2 720 000</del>
              <p>3 020 000 сум</p>
              <p>Сезонная скидка</p><img src="../../assets/wishlist-imgs/Group 32.svg" alt="">
              <button>Добавить в корзину</button>
            </div>
          </div>
        </div>
        <hr>
      </section>
    </main>
  </body>
</html>