<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Document</title>
  </head>
  <body> 
    <main class="container"> 
      <section> 
        <p>Избранное</p>
        <hr>
        <div> 
          <div> <img src="" alt=""><img src="" alt=""></div>
          <div> 
            <p>Sony WH-1000XM3 беспроводные наушники</p><img src="" alt="">
            <div> </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>