
<section class="address-filter"> 
  <div class="container filter-container"> 
    <div class="filter-title"> 
      <h2>Антон Павлов</h2>
      <p>Зарегистрирован: 12.07.2020</p>
    </div>
    <div class="filter-list"> 
      <ol class="list"> 
        <li class="list-item"> <a class="filter_links" href="#"> <img src="/./assets/logos/orders.svg" alt=""/></a></li>
        <li class="list-item"> <a class="filter_links" href="#"> <img src="/./assets/logos/favorite.svg" alt=""/></a></li>
        <li class="list-item"> <a class="filter_links" href="#"> <img src="/./assets/logos/cart.svg" alt=""/></a></li>
        <li class="list-item"> <a class="filter_links" href="#"> <img src="/./assets/logos/promocode.svg" alt=""/></a></li>
      </ol>
      <div class="notification-btn"> <a class="filter_links" href="#"> 
          <button> 
            <div class="btn_ico-text"> <span> <img src="/./assets/logos/bell.svg" alt=""/></span><span>Уведомления</span></div><span>2</span>
          </button></a></div>
      <div class="filter-list_2"> 
        <ol class="list"> 
          <li class="list-item active"> <a href="#"> 
              <div class="img"> <img src="/./assets/logos/pin.svg" alt=""/></div>
              <div class="text">  <span>Мои адреса</span></div></a></li>
          <li class="list-item"> <a href="#"> 
              <div class="img"> <img src="/./assets/logos/smile.svg" alt=""/></div>
              <div class="text">  <span>Мои отзывы</span></div></a></li>
          <li class="list-item"> <a href="#"> 
              <div class="img"> <img src="/./assets/logos/smile-sad.svg" alt=""/></div>
              <div class="text">  <span>Мои жалобы                               </span></div></a></li>
        </ol>
      </div>
      <div class="filter-end"> 
        <ol class="list">  
          <li class="list-item"> <a href="#"> <img src="/./assets/logos/security.svg" alt=""/></a></li>
          <li class="list-item"> <a href="#"> 
              <div class="img"> <img src="/./assets/logos/mail-reply.svg" alt=""/></div>
              <div class="text">  <span>Выйти   </span></div></a></li>
        </ol>
      </div>
    </div>
  </div>
</section>