section.address-filter 
    .container.filter-container 
        .filter-title 
            h2 Антон Павлов
            p Зарегистрирован: 12.07.2020

        .filter-list 
            ol.list 
                li.list-item 
                    a.filter_links(href="#") 
                        img(src="/./assets/logos/orders.svg" alt="")
                li.list-item 
                    a.filter_links(href="#") 
                        img(src="/./assets/logos/favorite.svg" alt="")
                li.list-item 
                    a.filter_links(href="#") 
                        img(src="/./assets/logos/cart.svg" alt="")
                li.list-item 
                    a.filter_links(href="#") 
                        img(src="/./assets/logos/promocode.svg" alt="")
            .notification-btn 
                a.filter_links(href="#") 
                    button 
                        .btn_ico-text 
                            span 
                                img(src="/./assets/logos/bell.svg" alt="")
                            span Уведомления
                        span 2

            .filter-list_2 
                ol.list 
                    li.list-item.active 
                      a(href="#") 
                        .img 
                            img(src="/./assets/logos/pin.svg" alt="")
                        .text   
                            span Мои адреса
                    li.list-item 
                      a(href="#") 
                        .img 
                            img(src="/./assets/logos/smile.svg" alt="")
                        .text   
                            span Мои отзывы
                    li.list-item 
                      a(href="#") 
                        .img 
                            img(src="/./assets/logos/smile-sad.svg" alt="")
                        .text   
                            span Мои жалобы                               

            .filter-end 
                ol.list   
                    li.list-item  
                       a(href="#") 
                            img(src="/./assets/logos/security.svg", alt="") 

                    li.list-item 
                        a(href="#") 
                            .img 
                                img(src="/./assets/logos/mail-reply.svg" alt="")
                            .text   
                                span Выйти   




