aside 
    h4 Летние вечеринки, без музыки?
    button Выбрать колонки

header.container
    .logo 
        h1 zaytun
    .til 
        p Рус 
        .hr2 
        p O’zb
    .search__input 
        .input
            input(type="search", placeholder="Что вас интересует?")
            button serach
        .btn 
            ul 
                li samsung
                li samsung a32
                li samsung active 2
            
            .box 
                div 
                    img(src="../../assets/banner/img (1).svg", alt="")
                div 
                    h5 Смартфоны
                    p Электроника / Смартфоны
            .box 
                div 
                    img(src="../../assets/banner/img (2).svg", alt="")
                div 
                    h5 Samsung
                    p Бренд 
            .box 
                div 
                    img(src="../../assets/banner/img.svg", alt="")
                div 
                    h5 Samsung Galaxy S21 Ultra
                    p 12 479 990 UZS
            .box 
                div 
                    img(src="../../assets/banner/Rectangle 19.png", alt="")
                div 
                    h5 Samsung 49FM9L 4K Smart TV
                    p 12 479 990 UZS
            .box 
                div 
                    img(src="../../assets/banner/Rectangle 19.svg", alt="")
                div 
                    h5 Samsung Galaxy S21
                    p 12 479 990 UZS
        
    .buttons
        a(href="../../html/components/wishlist.html").box 
            div 
                img(src="../../assets/logo/icon.png", alt="")
            div 
                h5 Избранное
                p 2 товара
        .box 
            div 
                img(src="../../assets/logo/icon (1).png", alt="")
            div 
                h5 Корзина
                p 12 товаров
        .box 
            div 
                img(src="../../assets/logo/icon (2).png", alt="")
            div 
                h5 Андрей Иванов
                p Мой профиль

.header__menu.container
    img(src="../../assets/logo/menu.svg", alt="")
    p Каталог товаров
    p Одежда и обувь
    a(href="") 
    p Электроника
    p Для дома
    p Спорт
    p Дети
    p Книги
    p Бренды
    p Зоо
    p Компьютеры
    p Здоровье
    p Ремонт