doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        #myModal.modal
            // Modal content
            .modal-content
                span.close &times;
                h3 Пожаловаться
                textarea(placeholder="Товары испорчены")
                div 
                    p Файлы загружены 
                    p 4 файла
                
                button Отправить жалобу