meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="../../css/main.css")
title Product
body
  include header
  main
    .product
      section
        .product__nav
          .product__nav__a
            a(href) Электроника
            img(src="../../assets/Product/right-arrow 1.svg", alt)
          .product__nav__a
            a(href) Смартфоны и планшеты
            img(src="../../assets/Product/right-arrow 1.svg", alt)
          .product__nav__a
            a(href) Смартфоны
            img(src="../../assets/Product/right-arrow 1.svg", alt)
          .product__nav__a
            a(href) Samsung
      section
        .product__samsung
          p Samsung Galaxy A51 4/64GB
        .otzitiv
          div
            img(src="../../assets/Product/star 1.svg", alt)
            img(src="../../assets/Product/star 1.svg", alt)
            img(src="../../assets/Product/star 1.svg", alt)
            img(src="../../assets/Product/star 1.svg", alt)
            img(src="../../assets/Product/star 5.svg", alt)
          .otzitiv__24
            p 24 отзыва
          div
            img(src="../../assets/Product/heart.svg", alt="")
            img(src="../", alt="")
      section
        .product__info
          .product__info__grid
            img(src="../../assets/Product/Frame 39.svg", alt)
            img(src="../../assets/Product/Frame 40.svg", alt)
            img(src="../../assets/Product/Frame 41.svg", alt)
            img(src="../../assets/Product/Frame 42.svg", alt)
            img(src="../../assets/Product/Frame 43.svg", alt)
          div
            img(src="../../assets/Product/Frame 38.svg", alt)
          .product__info__pam
            p Объем памяти
            .product__info__cd
              p.product__info__cds 4/64GB
              p.product__info__cdc 6/128GB
            .product__info__chvet
              p Цвет
              .product__info__chvet__img
                img(src="../../assets/Product/white - selected.svg", alt)
                img(src="../../assets/Product/black.svg", alt)
                img(src="../../assets/Product/blue.svg", alt)
            .product__info__flex
              .product__info__plat
                p Платформа:
                p Кол-во SIM карт:
                p Диагональ экрана:
                p Камера:
                p Аккумулятор:
                p Тип матрицы:
                p Габариты:
                p Процессор:
                p Гарантия:
              .product__info__platt
                p Android 10
                p 2 SIM + SD Card
                p 6.5”
                p 48МП+8МП+5МП+5МП
                p 4 000 mAh
                p SUPER AMOLED
                p ШхВхТ 142х79.0х13.5 мм, вес 140 г
                p Exynos 420, 8 ядер
                p 1 год
          .product__skidka
            .product__skidka__flex
              p.product__skidka__foiz - 6%
              p.product__skidka__c 2 720 000
            p.product__sum
              | 16 843 000 
              span.sum сум
            p Сезонная скидка
            button.product__korzinka Добавить в корзину
            .product__dastabki
              p.product__dastabki__p Доставка
              .product__dastabki__card
                img(src="../../assets/Product/fast-delivery 1.svg", alt)
                div
                  p.product__dastabki__bold
                    | Доставка курьером,
                    span.product__dastabki__span Ташкент
                  p Бесплатно
              .product__dastabki__card
                img(src="../../assets/Product/box.svg", alt)
                div
                  p.product__dastabki__bold
                    | Самовывоз,
                    span.product__dastabki__span Точки выдачи
                  p Бесплатно
              .product__dastabki__card
                img(src="../../assets/Product/credit-card.svg", alt)
                div
                  p.product__dastabki__bold Оплата. Наличными, картой, онлайн
                  p Payme, Click
              .product__samsung__brend
                img(src="../../assets/Product/samsung.svg", alt)
                .product__samsung__brend__p
                  p.brendu Перейти к бренду
                  p 1 023 товаров
      section 
        .text__area
          .text__area__title
            .text__area__title__h1
              p С этим товаром 
              p покупают в
              p комплекте
              br
            .text__area__title__obshe
              p Общая стоимость товаров
            .text__area__title__h1.title__more
              p 16 843 000 
              .text__area__title__more
                p сум
            button Добавить все в корзину
          .product__mini__card
            .product__mini
              .product__mini__like
                img(src="../../assets/Product/like.svg", alt="")
              img(src="../../assets/Product/text__area soat.svg", alt="")
              .product__mini__more
                p 3 824 000
                span сум
              p Samsung Watches
              p 5 series 16GB
              button В корзине

            .product__mini
              .product__mini__like
                img(src="../../assets/Product/like.svg", alt="")
              img(src="../../assets/Product/text__area telfon.svg", alt="")
              .product__mini__more
                p 54 000
                span сум
              p Чехол Samsung Galaxy 
              p A51 силиконовый
              button В корзине
            .product__mini
              .product__mini__like
                img(src="../../assets/Product/like.svg", alt="")
              img(src="../../assets/Product/text__area airpods.svg", alt="")
              .product__mini__more
                p 2 540 000
                span сум
              p Apple Airpods Pro
              p беспроводные наушн...
              button В корзине
            .product__mini
              .product__mini__like
                img(src="../../assets/Product/like.svg", alt="")
              img(src="../../assets/Product/text__area cd.svg", alt="")
              .product__mini__more
                p 40 000
                span сум
              .product__mini__more
              p Флеш карта Sandisk
              p Micro SD 16GB
              button В корзине