doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title Product
    body    
        main 
            section.hero 
                .mini-nav 
                    h3 Электроника 
                        span >
                    h3 Смартфоны и планшеты 
                        span >
                    h3 Смартфоны 
                        span >
                    h3 Samsung 
                .title-part 
                    h1 Samsung Galaxy A51 4/64GB