doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- css link
        link(rel="stylesheet", href="../../css/main.css")
        //- favicon
        link(rel="shortcut icon", href="../../assets/logo/Group 3.svg", type="image/x-icon")
        //- * Title
        title Reviews - empty
    body
        .prodct__otzitv 
            p Отзывы
            div 
                p M 
                div
                    p Максим
                    p 12 июль 2020
                div 
                    img(src="../../assets/Product-Otzitv/star 1 (1).svg", alt="")
                    img(src="../../assets/Product-Otzitv/star 1 (1).svg", alt="")
                    img(src="../../assets/Product-Otzitv/star 1 (1).svg", alt="")
                    img(src="../../assets/Product-Otzitv/star 1 (1).svg", alt="")
