doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- css link
        link(rel="stylesheet", href="../../css/main.css")
        //- favicon
        link(rel="shortcut icon", href="../../assets/logo/Group 3.svg", type="image/x-icon")
        //- * Title
        title Reviews - empty
    body
        .product__otzitv
            .product__otzitv__p
                p Отзывы
            div 
                p M 
                div
                    p Максим
                    p 12 июль 2020
                div 
                    img(src="../../assets/Product-Otzitv/star 1 (1).svg", alt="")
                    img(src="../../assets/Product-Otzitv/star 1 (1).svg", alt="")
                    img(src="../../assets/Product-Otzitv/star 1 (1).svg", alt="")
                    img(src="../../assets/Product-Otzitv/star 1 (1).svg", alt="")
                    img(src="../../assets/Product-Otzitv/star 5 (1).svg", alt="")
            .product__otzitv__docton
                .product__otzitv__docton
                    p Достоинства:
                    p Прежде всего, сложившаяся структура организации играет важную роль в формировании экспериментов, поражающих по своей масштабности и грандиозности.
                .product__otzitv__docton
                    p Недостатки:
                    p Недостатков нет
                .product__otzitv__docton
                    p Комментарий:
                    p Повседневная практика показывает, что укрепление и развитие внутренней структуры создаёт предпосылки для инновационных методов управления процессами. В своём стремлении улучшить пользовательский опыт мы упускаем, что базовые сценарии поведения пользователей могут быть своевременно верифицированы.
                .product__otzitv__img
                    img(src="../../assets/Product-Otzitv/Rectangle 60 (1).svg", alt="")
                    img(src="../../assets/Product-Otzitv/Rectangle 77 (2).svg", alt="")
                    img(src="../../assets/Product-Otzitv/Rectangle 78.svg", alt="")
                    img(src="../../assets/Product-Otzitv/Rectangle 79.svg", alt="")
                    img(src="../../assets/Product-Otzitv/Rectangle 80.svg", alt="")
                    img(src="../../assets/Product-Otzitv/Rectangle 81.svg", alt="")
            