doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- css link
        link(rel="stylesheet", href="../../css/main.css")
        //- favicon
        link(rel="shortcut icon", href="../../assets/logo/Group 3.svg", type="image/x-icon")
        //- * Title
        title Reviews - empty
    body 
        .reviews__empty
            .reviews__empty__moy
                p 
                .reviews__empty__smile
                    img(src="../../assets/Reviews-empty/smile.svg", alt="")
                    p Вы еще не оставляли отзывы
                    p Оставьте отзыв на купленный вами товар и получите бонус!
                    p Вы можете оставлять отзывы только на заказанные товары
                    p Мои заказы