doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- css link
        link(rel="stylesheet", href="../../css/main.css")
        //- favicon
        link(rel="shortcut icon", href="../../assets/logo/Group 3.svg", type="image/x-icon")
        //- * Title
        title Zaytun 
    body 
        //- header
        include ./header.pug 
        //- header end

        //- main start
        main.container 
            section.section-first 
                p.section-first__p Избранное
                hr
                div.section-first__flex 
                    div.section-first__flex-items 
                        div.section-first__flex-items__imgs 
                            img(src="../../assets/wishlist-imgs/Frame 14.svg", alt="")
                            img.img(src="../../assets/wishlist-imgs/Rectangle 23.svg", alt="")
                        div.section-first__flex-items__element 
                            b Sony WH-1000XM3 беспроводные наушники
                            img(src="../../assets/wishlist-imgs/rating.svg", alt="")
                            div.element-p 
                                p.paragraf-1 Платформа:
                                p.paragraf-2 Android 10
                            div.element-p 
                                p.paragraf-1 Кол-во SIM карт:
                                p.paragraf-2 2 SIM + SD Card
                            div.element-p 
                                p.paragraf-1 Диагональ экрана:
                                p.paragraf-2 6.5”
                            div.element-p 
                                p.paragraf-1 Камера:
                                p.paragraf-2 48МП+8МП+5МП+5МП
                            div.element-p 
                                p.paragraf-1 Аккумулятор
                                p.paragraf-2 4 000 mAh
                            div.element-p 
                                p.paragraf-1 Тип матрицы:
                                p.paragraf-2 SUPER AMOLED
                            div.element-p 
                                p.paragraf-1 Габариты:
                                p.paragraf-2 ШхВхТ 142х79.0х13.5 мм, вес 140 г
                            div.element-item 
                                div.element-p 
                                    img(src="../../assets/wishlist-imgs/heart.svg", alt="")
                                    p Убрать из избранного
                                div.element-p 
                                    img(src="../../assets/wishlist-imgs/signal.svg", alt="")
                                    p.element-p__clr Сравнить
                                div.element-p 
                                    img(src="../../assets/wishlist-imgs/arrows-expand-up-right.svg", alt="")
                                    p.element-p__clr Поделиться
                    div.section-first__flex-items  
                        img(src="../../assets/wishlist-imgs/Line 10.svg", alt="")
                        div.content 
                            p.content__del  2 720 000
                            p.content__sum 3 020 000 
                                span сум
                            p.content__skidka  Сезонная скидка
                            img.content__img(src="../../assets/wishlist-imgs/Group 32.svg", alt="")
                            button.content__btn Добавить в корзину
                hr
                div.section-first__flex 
                    div.section-first__flex-items 
                        div.section-first__flex-items__imgs 
                            img(src="../../assets/wishlist-imgs/Frame 14.svg", alt="")
                            img.img(src="../../assets/wishlist-imgs/Rectangle 23 (2).svg", alt="")
                        div.section-first__flex-items__element 
                            b Apple iPhone 11 8/128 GB, черный
                            img(src="../../assets/wishlist-imgs/rating.svg", alt="")
                            div.element-p 
                                p.paragraf-1 Платформа:
                                p.paragraf-2 iOS 13
                            div.element-p 
                                p.paragraf-1 Кол-во SIM карт:
                                p.paragraf-2 2 SIM + SD Card
                            div.element-p 
                                p.paragraf-1 Диагональ экрана:
                                p.paragraf-2 6.5”
                            div.element-p 
                                p.paragraf-1 Камера:
                                p.paragraf-2 48МП+8МП+5МП+5МП
                            div.element-p 
                                p.paragraf-1 Аккумулятор
                                p.paragraf-2 4 000 mAh
                            div.element-p 
                                p.paragraf-1 Тип матрицы:
                                p.paragraf-2 SUPER AMOLED
                            div.element-p 
                                p.paragraf-1 Габариты:
                                p.paragraf-2 ШхВхТ 142х79.0х13.5 мм, вес 140 г
                            div.element-item 
                                div.element-p 
                                    img(src="../../assets/wishlist-imgs/heart.svg", alt="")
                                    p Убрать из избранного
                                div.element-p 
                                    img(src="../../assets/wishlist-imgs/signal.svg", alt="")
                                    p.element-p__clr Сравнить
                                div.element-p 
                                    img(src="../../assets/wishlist-imgs/arrows-expand-up-right.svg", alt="")
                                    p.element-p__clr Поделиться
                    div.section-first__flex-items  
                        img(src="../../assets/wishlist-imgs/Line 10.svg", alt="")
                        div.content 
                            p.content__del  2 720 000
                            p.content__sum 8 249 000
                                span сум
                            p.content__skidka  Сезонная скидка
                            img.content__img(src="../../assets/wishlist-imgs/Group 32 (1).svg", alt="")
                            button.content__btn Добавить в корзину
                hr
            section.section-second 
                div.section-second__flex
                    div 
                        p.p Рекомендуем к покупке
                        p Товары из категории 
                            span Электроника 
                    div.section-second__flex__p 
                        p Посмотреть все
                div.section-second__flex-1 
                    div.section-second__cards 
                        div.cards__icon 
                            img(src="../../assets/wishlist-imgs/favorite.svg", alt="")
                        div.cards__img 
                            img(src="../../assets/wishlist-imgs/Rectangle 19.svg", alt="")
                        p.cards__p 8 460 000
                            span сум
                        p Huawei P40 Pro Plus 8/240GB, White
                        img(src="../../assets/wishlist-imgs/rating.svg", alt="")
                    div.section-second__cards 
                        div.cards__icon 
                            img(src="../../assets/wishlist-imgs/favorite (1).svg", alt="")
                        div.cards__img 
                            img(src="../../assets/wishlist-imgs/Rectangle 20 (1).svg", alt="")
                        p.cards__p 2 720 000
                            span сум
                        p Sony WH-1000XM3 беспроводные наушники
                        img(src="../../assets/wishlist-imgs/rating.svg", alt="")
                    div.section-second__cards 
                        div.cards__icon 
                            img(src="../../assets/wishlist-imgs/favorite.svg", alt="")
                        div.cards__img 
                            img(src="../../assets/wishlist-imgs/Rectangle 21.svg", alt="")
                        p.cards__p 3 199 200
                            span сум
                        p Настенная сплит система Chigo HI912XA
                        img(src="../../assets/wishlist-imgs/rating.svg", alt="")
                    div.section-second__cards 
                        div.cards__icon 
                            img(src="../../assets/wishlist-imgs/favorite.svg", alt="")
                        div.cards__img 
                            img(src="../../assets/wishlist-imgs/Rectangle 22.svg", alt="")
                        p.cards__p 12 118 000
                            span сум
                        p Bosch B29S накопительный водонагреватель
                        img(src="../../assets/wishlist-imgs/rating.svg", alt="")
                    div.section-second__cards 
                        div.cards__icon 
                            img(src="../../assets/wishlist-imgs/favorite.svg", alt="")
                        div.cards__img 
                            img(src="../../assets/wishlist-imgs/Rectangle 23 (3).svg", alt="")
                        p.cards__p 3 489 000
                            span сум
                        p Xiaomi MI TV 32” HD Smart TV
                        img(src="../../assets/wishlist-imgs/rating.svg", alt="")
                    div.section-second__cards 
                        div.cards__icon 
                            img(src="../../assets/wishlist-imgs/favorite.svg", alt="")
                        div.cards__img 
                            img(src="../../assets/wishlist-imgs/Rectangle 24.svg", alt="")
                        p.cards__p 1 455 000
                            span сум
                        p Apple Airpods 2 wireless charge
                        img(src="../../assets/wishlist-imgs/rating.svg", alt="")


            section.section-three 
                img(src="../../assets/wishlist-imgs/mobile app.svg", alt="")
        
         //- main end

        //-  footer start
        //- include ./footer.pug 
        //- footer end