aside {
    background: rgba(255, 244, 95, 1);;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;

    button{
        background: #fff;;
        border: none;
        padding: 7px 12px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        &:hover{
            background-color: #ededed;
            color: #000;
        }
    }
}