.adpng {
    transform: translateX(1080px) translateY(-680px);
    position: relative;
}

.product-center,
.product-center2 {
    padding-top: 30px;

    .product-cardtime {
        section {
            .text__area {
                .product__mini__card {
                    display: flex;
                    gap: 80px;
                    padding-left: 120px;
                    padding-top: 50px;

                }
            }
        }
    }
}

.thebanner {
    position: absolute;
    top: 1700px;
    left: 120px;
    width: 940px;
}

.product-center2 {
    margin-top: -200px;
}

.center-info {
    padding-left: 118px;
    padding-top: 50px;
    h2 {
        font-weight: 500;
    }

    p {
        font-weight: 400;
        line-height: 1.4;
    }
}