.adpng {
    transform: translateX(1080px) translateY(-280px);
    position: relative;
}

.product-center {
    .product-cardtime {
        section {
            .text__area {
                .product__mini__card {
                    display: flex;
                    gap: 80px;
                    padding-left: 120px;
                    padding-top: 50px;

                }
            }
        }
    }
}