.section-first {
    color: $darkBlue-clr;
    .section-first__p{
        font-size: 24px;
        margin: 30px 0;
    }
    .section-first__flex {
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        .section-first__flex-items {
            display: flex;
            gap: 50px;
            .section-first__flex-items__imgs{
                display: flex;
                align-items: start;
                gap: 10px;
                .img{
                    margin-top: 25px;
                }
            }
            .section-first__flex-items__element {
                display: grid;
                b{
                    display: block;
                }
                .element-p{
                    display: flex;
                    gap: 10px;
                    .paragraf-1{
                        color: $gray-clr;
                    }
                    .element-p__clr{
                        color: $orange-clr;
                    }
                }
                .element-item {
                    display: flex;
                    gap: 20px;
                    margin-top: 30px;
                    align-items: center;
                }
            }
            .content{
                .content__del{
                    text-decoration: line-through;
                    text-decoration-color: red;
                    color: $gray-clr;
                    margin-bottom: 12px;
                }
                .content__sum{
                    font-size: 24px;
                    span{
                        color: $gray-clr;
                        font-size: 14px;
                    }
                }
                .content__skidka{
                    font-size: 14px;
                    color: $gray-clr;
                }
                .content__img{
                    cursor: pointer;
                    margin: 25px 0;
                }
                .content__btn{
                    padding: 15px;
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    color: white;
                    background: $orange-clr;
                    border-radius: 8px;
                    margin-top: 110px;
                    border-color: $orange-clr;
                }
            }
        }
    }
}

.section-second{
    margin-top: 50px;
    margin-bottom: 15px;
    .section-second__flex{
        display: flex;
        justify-content: space-between;
        align-items: end;
        .p{
            font-size: 24px;
            margin-bottom: 10px;
        }
        span{
            color: $orange-clr;
        }
        .section-second__flex__p {
            color: $orange-clr;
        }
    }
    div.section-second__flex-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0;
        gap: 10px;
        .section-second__cards {
            display: grid;
            row-gap: 7px;
            width: 190px;
            .cards__icon{
                display: flex;
                justify-content: end;
                // padding: 0 30px;
                cursor: pointer;
            }
            .cards__img{
                margin-bottom: 15px;
                cursor: pointer;
            }
            .cards__p{
                font-size: 20px;
                span{
                    color: $gray-clr;
                    font-size: 14px;
                }
            }
        }
    }
}

.section-three {
    margin: 20px 0;
}