.homecontent {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .saidbar {
        width: 20%;

        li {
            padding: 6px 9px;
        }

        .saidbarbox {
            margin-top: 10%;
        }
    }

    .menu {
        width: 75%;
        margin-right: auto;
    }

    .mt {
        margin-top: 10px;
    }
}

.txleft {
    text-align: left !important;

    .list {
        li {
            list-style: disc !important;
            padding: 10px;
            width: 870px;

        }
    }
}

.bold {
    font-weight: 700;
}

.posershka__title {
    width: 800px;
}

.box {
    margin-top: 3%;

    p {
        margin-top: 5%;
        line-height: 28px;

    }
}

.linehigh {
    line-height: 28px;
}

.call_box {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;

    .call__item {
        background: rgba(242, 245, 247, 1);
        padding: 20px;
    }
}